{%  extends 'base.html' %}
{% load static %}
{% block content %}


	<div class="container">
		<div class="row">
			<div class="col">


 <section id="content">
    <div class="main">

            <div class="indent-left"><br>
                <img src="{% static 'office.jpeg' %}" alt="picture" style="width:1100px;height:400px;">
              <h3>Welcome! {{ user.username }}</h3><br>
              <h4 class="color-3">RECLAIMING OUR LAND, RESTORING OUR VALUES.</h4>

 <p>By God’s grace I am a global citizen and a nationalist to the core, but I am first an Ekiti Man. My sense of kinship with the good people of my state remains unyielding and
  no matter how far I have travelled, those bonds have only grown stronger. My convictions about how much more is possible in Ekiti stem not from any sense of entitlement but
  from a sense of service, of obligation and from my belief that posterity has positioned us for such a time as this. I think of my beloved state with a profound sense of
  unfinished business. There is much that we have to repair and redress in Ekiti before we can go forward.</p>


<p>There is no doubt that Ekiti is in need of urgent rescue, and the democratic ritual of an upcoming election cycle presents us with the opportunity to purge ourselves of the ignominy
  that has come to define us in recent years, and get on with the urgent task of Reclaiming our Land; and Restoring our Values. This is not about a personal ambition, I represent
  a progressive collective at the heart of the Ekiti struggle, who have been collectively buffeted by the many slanderous defamations and calumny of the interlopers. We however
  remain unbroken, and are energised to take on the task ahead of us.</p>


<p>I have therefore consulted widely, and now believe that the time has come to seize the day. The people of Ekiti are on the march to Reclaim our Land and Restore our Values,
  and I am responding affirmatively to their call to lead them again on this path of honour. I hereby declare my intention to run for Governor of Ekiti State in the July, 14,
  2018 election, starting with seeking the candidature of my party at the primaries next month. I count on your support and solidarity as always.</p>

</div>


        </div>
  </section>
</div>
            </div>
        </div>>

{% endblock%}